<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.spring.dao.AccountDao">
  <select id="getEmail" resultType="String">
    select email from account where id = #{id}
  </select>
  <select id="getPw" resultType="String">
    select pw from account where id = #{id}
  </select>
  <insert id="setAccount">
  	insert into account (id,pw,email,gender)
  		values (#{id}, #{pw}, #{email}, #{gender})
  </insert>
  <select id="getAccount" resultType="kr.green.spring.vo.AccountVo">
  	select * from account where id = #{id}
  </select>
  <select id="getAccounts" resultType="kr.green.spring.vo.AccountVo">
    select * 
      from account
      where id != #{id}
        and author != 'super admin'
      order by id asc
      limit #{cri.startPage}, #{cri.perPageNum}
  </select>
  <update id="setAuthor">
    update account 
      set author=#{author}
      where id=#{id}
  </update>
  <select id="getTotalCount" resultType="int">
    select count(id) 
      from account
      where not(id = #{id})
        and author != 'super admin'
  </select>
</mapper>






