<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.spring.dao.BoardDao">
	<select id="getBoardLists" 
		resultType="kr.green.spring.vo.BoardVo">
		select * 
			from board 
		<if test="cri.type == 0">
			where title like CONCAT('%',#{cri.search},'%')
		</if>
		<if test="cri.type == 1">
			where author like CONCAT('%',#{cri.search},'%')
		</if>
		<if test="cri.type == 2">
			where contents like CONCAT('%',#{cri.search},'%')
		</if>	
			order by num DESC
			limit #{cri.startPage}, #{cri.perPageNum}
	</select>
	<insert id="registerBoard">
		insert into board(title,contents,author,file)
		value(#{boardVo.title},#{boardVo.contents},#{boardVo.author},#{boardVo.file})
	</insert>
	<select id="getBoard" resultType="kr.green.spring.vo.BoardVo">
		select * from board where num = #{num}
	</select>
	<delete id="deleteBoard">
		delete from board where num = #{num}
	</delete>
	<update id="updateBoard">
		update board 
			set title = #{boardVo.title},
				contents = #{boardVo.contents},
				file = #{boardVo.file}
			where num = #{boardVo.num}
	</update>
	<select id="getCountBoardLists" resultType="int">
		select count(num) 
			from board
		<if test="cri.type == 0">
			where title like CONCAT('%',#{cri.search},'%')
		</if>
		<if test="cri.type == 1">
			where author like CONCAT('%',#{cri.search},'%')
		</if>
		<if test="cri.type == 2">
			where author like CONCAT('%',#{cri.search},'%')
		</if>
			
	</select>
</mapper>





